<ion-header class="ion-no-border" mode="md">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div id="container">
    <ion-row class="ion-justify-content-center">
      <div size-sm="12" size-md="9" size-lg="5" size-xl="4" class="ion-text-center" style="padding-top: 5vh;">
        <img src="../../../assets/illustrations/Team spirit-cuate.svg" alt="">
        <h1 class="text-2xl md:text-3xl xl:text-3xl">👋 Welcome to Ant <a href="">Finances</a></h1>
        <ion-text color="medium">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.. </p>
        </ion-text>
        <ion-button mode="ios" color="dark" (click)="onClick()" expand="block">
          Let's begin
        </ion-button>
      </div>
    </ion-row>
  </div>
</ion-content>