<ion-header class="ion-no-border" mode="md">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div id="container">
    <!-- <h1>Balance</h1> -->
    <ion-row class="ion-justify-content-center">
      <div size-sm="12" size-md="9" size-lg="5" size-xl="4" class="ion-text-center" style="padding-top: 5vh;">
        <img src="../../../assets/illustrations/Calendar-cuate.svg" class="illustration" alt="">
        <h1>Goals!</h1>
        <ion-text color="medium">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.. </p>
        </ion-text>
        <ion-button mode="ios" color="dark" (click)="onClick()" expand="block">
          Let's begin
        </ion-button>
      </div>
    </ion-row>
  </div>
</ion-content>