<ion-content fullscreen>
  <div class="grid grid-cols-1 lg:grid-cols-2 h-screen">
    <div class="hidden lg:flex items-center justify-center  bg-green-50 dark:bg-green-400">
      <ion-slides [options]="slideOpts" [pager]="true" class="h-full" #slideWithNav>
        <ion-slide>
          <div>
            <!-- <img src="../../../assets/illustrations/House searching-cuate.svg" class="w-3/6" /> -->
            <h1 class="text-base md:text-5xl xl:text-5xl">Finances More Simple</h1>
            <p>create an account to unlock these benefits for free</p>
          </div>
        </ion-slide>
        <ion-slide>
          <div>
            <!-- <img src="../../../assets/illustrations/Features Overview-cuate.svg" class="w-3/6" /> -->
            <h1 class="text-base md:text-lg">Welcome to Ant</h1>
            <p>Organize and track your financial life in one place.</p>
            <ion-button fill="clear">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon>
            </ion-button>
          </div>
        </ion-slide>
      </ion-slides>
    </div>
    <div class="flex items-center justify-center dark:bg-black">
      <div class="flex flex-col items-center w-10/12 md:w-2/4 lg:w-2/4 xl:w-1/36 2xl:w-1/4">
        <div class="my-4">
          <img src="../../../assets/icons/logo (3).svg" class="w-14" alt="">
        </div>
        <div class="w-full space-y-4">
          <ion-segment value="all" mode="ios" color="primary" scrollable="true" [(ngModel)]="segmentModel">
            <ion-segment-button value="login">
              <ion-label class="ion-text-lowercase">Log In</ion-label>
            </ion-segment-button>
            <ion-segment-button value="register">
              <ion-label class="ion-text-lowercase">Create account</ion-label>
            </ion-segment-button>
          </ion-segment>
          <div class="">
            <ion-button (click)="onClick()" expand="block" color="light" mode="ios">
              <ion-icon slot="start" src="./../assets/icons/google-icon.svg"></ion-icon>
              Continue with Google
            </ion-button>
            <ion-button (click)="onClick()" expand="block" color="light" mode="ios">
              <ion-icon slot="start" name="logo-apple"></ion-icon>
              Continue with Apple
            </ion-button>
          </div>
          <div>
            <span class="justify-center text-center">
              <p>Or better yet...</p>
            </span>
          </div>
          <div *ngIf="segmentModel === 'login'" class="space-y-4">
            <form (ngSubmit)="onSubmit()" ngNativeValidate>
              <div>
                <ion-item>
                  <ion-label position="floating">Email</ion-label>
                  <ion-input type="email" name="email" [(ngModel)]="user.email" required
                    placeholder="Put your email address.">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Password</ion-label>
                  <ion-input type="password" name="password" [(ngModel)]="user.password" required
                    placeholder="Put your password">
                  </ion-input>
                </ion-item>
              </div>
              <div class="justify-center text-center items-center py-3">
                <a href="#">Forgot password?</a>
                <ion-text color="danger">
                  <p>{{message}}</p>
                </ion-text>
              </div>
              <ion-button mode="ios" type="submit" expand="block">
                <div *ngIf="!loading; else loadingTemplate">
                  <ion-icon slot="start" name="log-in"></ion-icon>
                  Sign in
                </div>
                <ng-template #loadingTemplate>
                  <ion-spinner mode="ios" name="lines"></ion-spinner>
                </ng-template>
              </ion-button>
            </form>
          </div>
          <div *ngIf="segmentModel === 'register'" class="space-y-4">
            <form [formGroup]="createAccountForm" (ngSubmit)="onCreateAccount()" novalidate>
              <div>
                <ion-item>
                  <ion-input type="email" formControlName="userName" name="userName" placeholder="Email address">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-input type="text" formControlName="firstName" name="firstName" placeholder="First Name">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-input type="text" formControlName="surName" name="surName" placeholder="SurName">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-input [type]="getType()" formControlName="password" name="password" placeholder="Password">
                  </ion-input>
                  <ion-icon name="{{eyeIcon}}" item-right (click)="toggleTextPassword()"></ion-icon>
                </ion-item>
                <ion-item>
                  <ion-input type="password" formControlName="confirmPassword" name="confirmPassword"
                    placeholder="Confirm password">
                  </ion-input>
                  <div *ngIf="password.errors && isValidFormSubmitted != null && !isValidFormSubmitted"
                    [ngClass]="'error'">
                    <div *ngIf="password.errors.required">
                      Password required.
                    </div>
                    <div *ngIf="password.errors.pattern">
                      Password not valid.
                    </div>
                  </div>
                </ion-item>
              </div>
              <div class="justify-center text-center items-center py-3">
                <a href="#">
                  <ion-text color="primary" class="ion-no-margin ion-no-padding">
                    By creating an account, you agree to our Terms of Service and
                    Privacy & Cookie Statement.
                  </ion-text>
                </a>
              </div>
              <ion-button type="submit" mode="ios" expand="block">
                <div *ngIf="!loading; else loadingTemplate">
                  <ion-icon slot="start" name="log-in"></ion-icon>
                  Create Ant account
                </div>
                <ng-template #loadingTemplate>
                  <ion-spinner mode="ios" name="lines"></ion-spinner>
                </ng-template>
              </ion-button>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>