<ion-split-pane contentId="main-content">
  <ion-menu contentId="main-content" mode="md" type="overlay">
    <ion-content>
      <ion-list id="inbox-list">
        <ion-list-header>
          <div class="logo-container">
            <img class="logo" src="../../../assets/icons/logo (3).svg" alt="Ant Finances">
          </div>
        </ion-list-header>
        <br>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
          <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
            routerLinkActive="selected">
            <ion-icon slot="start" [name]="p.icon" [src]="p.iconSrc"></ion-icon>
            <ion-label style="font-size: 20px;font-weight: bold;">{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <br>
      </ion-list>
      <ion-list id="labels-list">
        <ion-item routerDirection="root" button lines="none" detail="false" routerLinkActive="selected" (click)="onLogout()">
          <ion-avatar slot="start" mode="md" style="width:3vh; height: 3vh;">
            <img src="https://lh3.googleusercontent.com/ogw/ADGmqu_gikCZqSrb1TUK0XQmwsrNiY9bvnewxuvXsqoR=s83-c-mo">
          </ion-avatar>
          <ion-label>Jose luis</ion-label>
        </ion-item>
        <ion-button (click)="onClick()" expand="block" mode="ios" >
          <ion-icon slot="start" name="star-half-outline"></ion-icon>
          Add
        </ion-button>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-split-pane>